@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
<div id="sunac">
    <div class="row">
        <dl class="search-list">
            <dt><span>区域：</span></dt>
            <dd><span>北京</span></dd>
        </dl>
        <dl class="search-list">
            <dt><span>关键词搜索：</span></dt>
            <dd><span><input type="text" /><strong></strong></span> </dd>
        </dl>
    </div>

    <div class="row panel-table">
        <table class="table">
            <thead>
                <tr>
                    <th  class="selected-all" style="cursor:pointer">项目名称</th>
                    <th width="80" class="text-center">区域</th>
                    <th width="120" class="text-center">城市公司</th>
                    <th width="120" class="text-center">创建时间</th>
                    <th width="120">更新时间</th>
                    <th width="80">设计人员</th>
                    
                    <th width="120" class="text-center">操作</th>
                </tr>
            </thead>
            <tbody</tbody>
                </table>
        </div>


    </div>
