@{
    Layout = null;
    }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>密码修改</title>
    <link href="~/Content/Plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/Content/Css/site.css" rel="stylesheet" />
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="~/Content/Plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <script src="~/Content/Js/jquery.form.js"></script>
    <script src="~/Content/Js/goyeer.validation.js"></script>
    <script src="~/Content/Plugins/layer/layer.js"></script>
    <script src="~/Content/Plugins/laydate/laydate.js"></script>
    <style type="text/css">
        .sunac-wapper {
            margin-top: 15px;
        }

            .sunac-wapper .title {
                line-height: 45px;
                text-align: right;
            }

            .sunac-wapper .content {
                width: 180px;
                display: block;
                padding-top: 5px;
                margin-left: -15px;
            }

            .sunac-wapper .content-text {
                line-height: 45px;
                margin-left: -15px;
            }

        .sunac-wapper-operation {
            position: fixed;
            bottom: 0px;
            width: 100%;
            background-color: #ffffff;
            border-top: solid 1px #c3c3c2;
            text-align: center;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $(".btn-default").on("click", function () {
                $("#myform").resetForm();
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
            });

            $(".btn-ok").on("click", function () {
               // $("#myform").ajaxSubmit(options);
            });
        })
    </script>
</head>
<body>
    <div class="sunac-wapper">
        <form name="myform" id="myform">
            <div class="row">
                <span class="col-xs-4 title">账户：</span>
                <span class="col-xs-8">
                    <span class="content">
                        <input type="password" class="form-control" name="txt_password" />
                    </span>
                </span>
            </div>
            <div class="row">
                <span class="col-xs-4 title">姓名：</span>
                <span class="col-xs-8">
                    <span class="content">
                        <input type="password" class="form-control" name="txt_password" />
                    </span>

                </span>
            </div>
            <div class="row">
                <span class="col-xs-4 title">电话：</span>
                <span class="col-xs-8">
                    <span class="content">
                        <input type="password" class="form-control" name="txt_once_password" />
                    </span>
                </span>
            </div>
            <div class="row">
                <span class="col-xs-4 title">邮箱：</span>
                <span class="col-xs-8">
                    <span class="content">
                        <input type="password" class="form-control" name="txt_once_password" />
                    </span>
                </span>
            </div>
            <div class="row">
                <span class="col-xs-4 title">机构：</span>
                <span class="col-xs-8">
                    <span class="content">
                        <input type="password" class="form-control" name="txt_once_password" />
                    </span>
                </span>
            </div>
            <div class="row">
                <span class="col-xs-4 title">角色：</span>
                <span class="col-xs-8">
                    <span class="content">
                        <input type="password" class="form-control" name="txt_once_password" />
                    </span>
                </span>
            </div>
        </form>
    </div>

    <div class="sunac-wapper-operation">
        <button class="btn btn-sunac btn-ok">修改</button>
        <button class="btn btn-default">关闭</button>
    </div>
</body>
</html>
