<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>融创设计协同办公平台</title>
    <meta name="keywords" content="融创设计协同办公平台" />
    <meta name="description" content="融创设计协同办公平台" />
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="~/Content/Plugins/layer/layer.js"></script>
    <script src="~/Content/Plugins/laydate/laydate.js"></script>
    <script src="~/Content/Js/goyeer.validation.js"></script>
    <script src="~/Content/Js/jquery.form.js"></script>
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Plugins/layer/theme/default/layer.css" rel="stylesheet" />
    <link href="~/Content/Css/base.css" rel="stylesheet" />
    <script type="text/javascript">
         $(function () {

         })
    </script>
    <style type="text/css">
        body .layer-ext-sunacskin .layui-layer-title {
            background: #ff9f00;
            color: #fff;
            border: none;
            text-align: left;
            font-size: 18px;
        }

        body .layui-ext-sunacskin .layui-layer-btn {
            border-top: 1px solid #E9E7E7;
        }

            body .layui-ext-sunacskin .layui-layer-btn a {
                background: #ffffff;
            }

            body .layui-ext-sunacskin .layui-layer-btn .layui-layer-btn1 {
                background: #ffffff;
                color: #ffffff;
            }

        body .layui-layer-page .layui-layer-content {
           padding:10px;
           font-family:Microsoft YaHei;
           font-size:15px;
        }
    </style>
</head>
<body>
    <div class="bottom-prompt">
        为了确保个人信息安全，在任何情况下都不要将您公司的相关账号密码告诉他人。
        不法分子可能通过电子邮件、信函、电话、手机短信等方式向您索要相关信息。若有类似事件发生，请反馈各区域IT同事。

    </div>
    <div class="sunac-login">
        <div class="login-box ">
            <div class="login-logo-item">
                <img src="~/Content/Css/img/sunac-logo01.png" style=" height:35px;" >
            </div>
            <div class="login-logo-item">
                <img src="~/Content/Css/img/sunac-login-separater.png">
            </div>
            <form name="myform" id="myform">
                <div class="login-logo-item " style="margin-top:30px;">
                    <input type="text" class="required" placeholder="账户" name="username" data-error="用户名不能为空" />
                </div>
                <div class="login-logo-item" style="margin-top:15px;">
                    <input type="password" class="required" placeholder="密码" name="password" data-error="密码不能为空" />
                </div>
                </form>
                <div class="login-logo-item" style="margin-top:8px; text-align:right;">
                    <a class="btn-password black" href="javascript:void(0)">忘记密码</a>
                </div>
                <div class="login-logo-item" style="margin-top:20px;margin-bottom:20px; text-align:right;">
                    <button id="btn_save">登   陆</button>
                </div>
                <div class="login-logo-item" style="margin-top:70px; text-align:right;">
                    <span style="float:left;">
                        <a class="black">融创中国控股有限公司</a>
                    </span>
                    <span style="float:right;">
                        <a class="black">© 融创中国 版权所有 </a>
                    </span>
                </div>
</div>
    </div>
</body>
</html>
<script type="text/javascript">
    var options = {
        url: '/home/checkuser',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                layer.msg(data.message, { icon: 6, time: 2000 }, function () {
                    window.location.href = "/window"
                });
            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });

        $(".btn-password").on('click', function () {
            layer.open({
                type: 1,
                area: ['280px', '200px'],
                skin: 'layer-ext-sunacskin', //样式类名
                closeBtn: 1, //不显示关闭按钮
                anim: 2,
                shadeClose: true, //开启遮罩关闭
                title:'修改密码',
                content: '<p>修改密码请联系管理员<p>',
                resize:false,
            });
        });
    });
</script>
