<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户登陆</title>
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/base.css" rel="stylesheet" />
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="~/Content/Plugins/layer/layer.js"></script>
    <script src="~/Content/Plugins/laydate/laydate.js"></script>
    <script src="~/Content/Js/goyeer.validation.js"></script>
    <script src="~/Content/Js/jquery.form.js"></script>
    <script type="text/javascript">
         $(function () {

         })
    </script>
</head>
<body>
    <div class="bottom-prompt">
        为了确保个人信息安全，在任何情况下都不要将您公司的相关账号密码告诉他人。
        不法分子可能通过电子邮件、信函、电话、手机短信等方式向您索要相关信息。若有类似事件发生，请反馈各区域IT同事。

    </div>
    <div class="sunac-login">
        <div class="login-box ">
            <div class="login-logo-item">
                <img src="~/Content/Css/img/sunac-logo01.png" style=" height:35px;" >
            </div>
            <div class="login-logo-item">
                <img src="~/Content/Css/img/sunac-login-separater.png">
            </div>
            <form name="myform" id="myform">
                <div class="login-logo-item " style="margin-top:30px;">
                    <input type="text" class="required" placeholder="账户" name="username" />
                </div>
                <div class="login-logo-item" style="margin-top:15px;">
                    <input type="password" class="required" placeholder="密码" name="password" />
                </div>
                </form>
                <div class="login-logo-item" style="margin-top:8px; text-align:right;">
                    <a>忘记密码</a>
                </div>
                <div class="login-logo-item" style="margin-top:20px;margin-bottom:20px; text-align:right;">
                    <button id="btn_save">登   陆</button>
                </div>
                <div class="login-logo-item" style="margin-top:70px; text-align:right;">
                    <span style="float:left;">
                        <a class="black">融创中国控股有限公司</a>
                    </span>
                    <span style="float:right;">
                        <a class="black">© 融创中国 版权所有 </a>
                    </span>
                </div>
</div>
    </div>
</body>
</html>
<script type="text/javascript">
    var options = {
        url: '/home/checkuser',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                layer.msg(data.message, { icon: 6, time: 2000 }, function () {
                    window.location.href = "/window"
                });
            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });
    });
</script>
