html,body{
    height:100%;
    width:100%;
    font-family:"Microsoft YaHei";
}
body {
    background-image:url(img/loginbg.jpg);
    background-repeat: no-repeat;
	background-size: 100% 100%;
}
#header {
   display:block;
   overflow:hidden;
   height:100px;
   background:url("img/sunac-logo.png");
   background-position:10px center;
}

    #header .header-left {
      float:left;
      overflow:hidden;
      line-height:100px;
       padding-left:200px;
       font-size:25px;
       color:#cf9a56;
    }

#wrapper {
 display:block;
 position:absolute;
 top:100px;
 left:0px;
 right:0px;
 bottom:0px;
 background:url('img/login-bg.jpg') no-repeat  center top;
 background-size:auto 100%;
}

#wrapper #login {
    display:block;
    position:absolute;
    width:500px;
    top:50%;
    left:50%;
    margin-left:-250px;
    margin-top:-250px;
}

 #wrapper #login .login-header {
    overflow:hidden;
    font-size:18pt;
    color:#c47b28;
    text-align:center;
    padding:5px 0px;
 }

  #wrapper #login .login-tbody {
     overflow:hidden;
     background:#fefdfc;
     border-radius:10px;
     margin-top:20px;
  }

    #wrapper #login .login-tbody .item {
       display:block;
       overflow:hidden;
       text-align:center;
    }

    #wrapper #login .login-tbody .item input[type="text"],
    #wrapper #login .login-tbody .item input[type="password"] {
        border:solid 1px #d0b18b;
        line-height:30px;
        height:35px;
        padding:3px;
        margin-top:40px;
        border-radius:5px;
        width:250px;
        outline:none;
        margin-bottom:10px;
        padding-left:35px;
        font-size:16px;
    }

        #wrapper #login .login-tbody .item input[type="password"] {
          margin-top:35px;
        }
        #wrapper #login .login-tbody .item input[type="text"]:hover,
        #wrapper #login .login-tbody .item input[type="password"]:hover {
           border-color:#d0b18b;
           outline:none;
           -moz-box-shadow:0px 0px 10px #fcf78f; 
           -webkit-box-shadow:0px 0px 10px #fcf78f; 
           box-shadow:0px 0px 10px #fcf78f;
           color:#dbac58;
        }



        #wrapper #login .login-tbody .item .username {
          background:url(img/icon-username.png) 5px center no-repeat;
          background-size:24px 24px;
        }
           
         #wrapper #login .login-tbody .item .username:hover {
             background:url('img/icon-username-hover.png') 5px center no-repeat;
             background-size:24px 24px;

         }

        #wrapper #login .login-tbody .item .password {
           background:url('img/icon-password.png') 5px center no-repeat;
            background-size:20px 24px;
        }
        
        #wrapper #login .login-tbody .item .password:hover {
            background:url('img/icon-password-hover.png') 5px center no-repeat;
            background-size:20px 24px;
        }
        ::-webkit-input-placeholder { /* WebKit browsers */
              color: #d8c7b2;
              font-size: 16px;
         }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #d8c7b2;
            font-size: 16px;
        }
        ::-ms-input-placeholder { /* Internet Explorer 10+ */
           color: #d8c7b2;
           font-size: 16px;
        }

.inner-item-checkbox {
    display:inline-block;
    overflow:hidden;
    width:250px;
    line-height:30px;
    font-size:16px;
}


    .inner-item-checkbox label {
      font-weight:normal;
          color:#656363;
    }
            .e-selfecheckbox {
                display: none;
            }
            
            .selfecheckbox_label:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 20px;
                background-image: url("img/icon-checkbox.png");
                background-position:center center;
                background-repeat:no-repeat;
                background-size: 14px 14px;
                padding-left:5px;
                
            }
            
            /*在e-selfecheckbox元素被选择的时候，将selfecheckbox_label前面的图片替换成另一张*/
            .e-selfecheckbox:checked+.selfecheckbox_label:before {
                width: 20px;
                height: 20px;
                padding-left:5px;
                background-image: url("img/icon-checkbox-checked.png");
                 background-position:center center;
                 background-size: 16px 14px;
                background-repeat:no-repeat;
            }

.remeber-password {
    text-align:left;
    padding-left:0px;
}
.forget-password {
  text-align:right;
  padding-right:0px;
}


.btn-orange {
  color: #fff;
  background-color: #dbac58;
  border-color: #dbac58;
  width:250px;
 outline:none;
 margin:20px 0px 40px 0px;
}
.btn-orange:focus,
.btn-orange.focus {
  color: #fff;
  background-color: #dbac58;
  border-color: #dbac58;
  outline:none;
}
.btn-orange:hover {
  color: #fff;
  background-color: #dbac58;
  border-color: #dbac58;
  outline:none;
}

.bottom-prompt {
  position:absolute;
  bottom:8px;
  left:2.5%;
  right:2.5%;
  line-height:35px;
  background-color:rgba(0,0,0,0.2);
  text-align:center;
  border-radius:1px;
}

.sunac-login {
    position:absolute;
    top:50%;
    margin-top:-190px;
    right:19.5%;
    width:350px;
     background-color:rgba(255,255,255,0.72);
}

    .sunac-login .login-box {
      margin:20px;
      display:block;
      overflow:hidden;
      margin-top:30px;
    }

    .sunac-login .login-logo-item {
      display:block;
      overflow:hidden;
    }

    .sunac-login .login-logo-item input[type=text] ,
    .sunac-login .login-logo-item input[type=password]{
         border:solid 1px #ebce9d;
         line-height:1.5;
         height:40px;
         width:100%;
         padding-left:5px;
          padding-right:5px;
          background-color:rgba(255,255,255,0);
          outline:none;
         }


          .sunac-login .login-logo-item input[type=text]:hover,
           .sunac-login .login-logo-item input[type=text]:focus,
          .sunac-login .login-logo-item input[type=password]:hover,
          .sunac-login .login-logo-item input[type=password]:focus
         {
              border-color:#c8994b;
             -moz-box-shadow:0px 0px 50px #f5eebb; 
            -webkit-box-shadow:0px 0px 50px #f5eebb; 
            box-shadow:0px 0px 50px #f5eebb;
            color:#dbac58;
        
        }

        .sunac-login .login-logo-item button {
          background:#ff9f00;
          line-height:35px;
          width:100%;
          text-align:center;
          color:#fff;
          outline:none;
          border:0;
          font-size:15px;
          font-weight:bold;
          border-radius:4px;

        }

        .sunac-login .login-logo-item a.black {
          color:#666666;
        }

            .sunac-login .login-logo-item a.black:hover {
             text-decoration:none;
            }


.layui-layer-btn0 {
    background-color: #cf9a56;
    border-color: #cf9a56;
}
