* {
    font-family: "Microsoft YaHei",微软雅黑;
}
.bwidth {
  min-width:1480px;
}
.container-fluid {
    display: block;
    overflow: hidden;
    border: solid 1px #d4d4d4;
    border-top: 0px;
}

header {
    display: block;
    background-color: #ff0000;
    height: 65px;
    margin-left: -15px;
    margin-right: -15px;
    background: url('img/sunac-head-logo.png') 25px center no-repeat;
    background-size: 285px 30px;
    position:relative;
}

 header .userinfo {
    float:right;
    margin-right:20px;
    margin-top:20px;
    position:relative;
    min-width:150px;

 }

    header .userinfo .username {
       color:#666666;
       font-size:14px;
       height:30px;
       min-width:80px;
       line-height:30px;
       background:url("img/icon-user-profile.png") left center no-repeat;
       background-position-x:5px;
       padding-left:30px;
       display:block;
       float:right;

    }


    
    header .userinfo .user-operate {
        position:absolute;
        left:1px;
        top:20px;
        width:150px;
        height:80px;
        background: url("img/headerinfo.png") top center no-repeat;  
        display:none;
        z-index:9999;
    }
       header .userinfo:hover .user-operate,
       header .userinfo:focus .user-operate
        {

         display:block;
        }
        header .userinfo .user-operate .cnt {
         display:block;
         overflow:hidden;
         margin-top:20px;
         border:solid 1px #dadada;
         border-top:0px;
         background-color:#ffffff;
         padding-bottom:5px;
         padding-top:5px;
         padding-left:8px;
         padding-right:8px;
         
        }

            header .userinfo .user-operate .cnt a {
              display:block;
              line-height:35px;
              text-align:center;
              font-size:14px;
              color:#505050;
              text-decoration:none;
            }


                header .userinfo .user-operate .cnt a:hover {
                   color:#b58d59;
                }
                header .userinfo .user-operate .cnt a.border-bottom {
                   border-bottom:solid 1px #dadada;
                }

                header .userinfo .user-operate .cnt a.disabled {
                  color:#c3c3c2;
                }

                    header .userinfo .user-operate .cnt a.disabled:hover {
                     color:#c3c3c2;
                    }




.main {
    display: block;
    background: #f8f8f5 url("img/main-bg.png") repeat-x top;
    margin-left: -15px;
    margin-right: -15px;
    min-width:1480px;
   

}

    .main .leftsidebar {
        float: left;
        width: 170px;
        margin-top: 0px;
        min-height: 500px;
        padding-top: 5px;
    }

        .main .leftsidebar dl {
            display: block;
            overflow: hidden;
            border-bottom: solid 1px #d4d4d4;
            margin-bottom: 0px;
        }

            .main .leftsidebar dl dt,
            .main .leftsidebar dl dd {
                display: block;
                overflow: hidden;
            }

            .main .leftsidebar dl dt {
                font-weight: 400;
                font-size: 15px;
                border-bottom: solid 1px #d4d4d4;
                background-position: 8px center;
                background-repeat: no-repeat;
                background-size: 18px 18px;
            }

.icon-standardpart {
    background-image: url("img/icon-standardpart.png");
}

.icon-space {
    background-image: url("img/icon-space.png");
}

.icon-project {
    background-image: url("img/icon-project.png");
}

.icon-background {
    background-image: url("img/icon-background.png");
}

.main .leftsidebar dl dt a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    border-bottom: 0px;
    font-weight: 400;
    color: #474646;
    font-size: 15px;
    padding-left: 32px;
    line-height: 45px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 12px 12px;
    margin-right: 8px;
}

    .main .leftsidebar dl dt a.right {
        background-image: url("img/icon-arrows-right.png");
    }

    .main .leftsidebar dl dt a.down {
        background-image: url("img/icon-arrows-down.png");
    }

.main .leftsidebar dl dt.one {
    border-bottom: 0px;
}

.main .leftsidebar dl dt.actived {
  background:#e9e9dd url("img/icon-project-actived.png") no-repeat ;
  background-position: 4px center;
  background-size: 18px 18px;
  border-left:4px solid #e1a054;
  color:#e99b50;
}

.main .leftsidebar dl dt.actived a {
      color:#bc7c32;
}

.main .leftsidebar dl dd a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    line-height: 32px;
    color: #655f58;
    padding-left: 40px;
}

    .main .leftsidebar dl dd a:hover {
        background-color: #e9e9de;
        color: #b98837;
        border-left: 4px solid #e1a054;
        padding-left: 36px;
    }

    .main .leftsidebar dl dd a.selected {
        background-color: #e9e9de;
        color: #b98837;
        border-left: 4px solid #e1a054;
        padding-left: 36px;
    }


.main .center {
    display: block;
    overflow: hidden;
    border-left: solid 1px #d4d4d4;
    margin-top: 0px;
    background: #ffffff url("img/main-bg.png") repeat-x top;
    margin-left: 170px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 15px;
}


    .main .center .search {
        font-size: 14px;
    }

    .main .center .search-bottom {
        border-bottom: solid 1px #f4f2f2;
    }


    .main .center .search dl {
       overflow:hidden;
       margin-top: 0px;
       margin-bottom: 0px;
       text-align:left;
    }

        .main .center .search dl dt
        .main .center .search dl dd {
            position: relative;
        }

        .main .center .search dl dt {
            width: 85px;
            line-height: 55px;
            text-align: left;
            font-weight: normal;
            color: #5e5e5d;
            float:left;
        }
        .main .center .search dl dd {
           display:block;
           overflow:hidden;
           margin-left:86px;
        }


        .main .center .search dl dd a {
            display: inline-block;
            line-height: 55px;
            min-width:90px;
            padding-left: 15px;
            padding-right: 15px;
            text-decoration: none;
            color: #5e5e5d;
            cursor: pointer;
        }

            .main .center .search dl dd a.active {
                color: #b58d59;
            }


    .main .center .keywords {
        position: relative;
    }
    .main .center .search-bottom {
       border-bottom:solid 1px #efefed;
       
    }
        .main .center .keywords dl dt {
            line-height: 55px;
            position: relative;
        }


        .main .center .keywords .sear-input {
            display: inline-block;
            padding-top: 15px;
            position: relative;
        }

            .main .center .keywords .sear-input input[type="text"] {
                outline: none;
                border: solid 1px #e3e2e2;
                line-height: 24px;
                height: 29px;
                width: 200px;
                border-radius: 20px;
                padding-left: 10px;
                padding-right: 10px;
            }

            .main .center .keywords .sear-input em {
                position: absolute;
                display: block;
                right: 1px;
                bottom: 1px;
                width: 45px;
                height: 27px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                background: #b58d59 url("img/icon-search.png") center center no-repeat;
                background-size: 16px 16px;
            }

        .main .center .keywords .btn-new {
            position: absolute;
            right: 0px;
            top: 12px;
            line-height: 25px;
            padding-left: 12px;
            padding-right: 12px;
            color: #ffffff;
            font-size: 14px;
            background: #b58d59;
        }

    .main .center .list {
        margin-top:10px;
    }

        .main .center .list .no-record {
          display:block;
          text-align:center;
          color:#b58d59;
          line-height:80px;
        }

        .main .center .list ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
            margin-left: 3px;
        }

            .main .center .list ul li {
                float: left;
                width: 15.666666%;
                margin-bottom: 30px;
                margin-right:1.1%;
                position: relative;
            }

              .main .center .list ul li:nth-child(6n+0) {
                   margin-right:0px;
              }

            .main .center .list ul a,
            .main .center .list ul a:hover {
                color: #505050;
                text-decoration: none;
            }

            .main .center .list ul li figure img {
                width: 100%;
                height: 160px;
                border: solid 1px #e3e3e3;
            }

            .main .center .list ul li figure p {
                text-align: center;
                line-height: 35px;
                margin-bottom: 0px;
            }

            .main .center .list ul li .state {
                position: absolute;
                top: 0px;
                right: 0px;
                padding: 3px 10px;
                background-color: #8c8c8c;
                color: #ffffff;
            }

          .main .center .list ul li .state.draft {
               background-color: #515151;
                    color: #ffffff;
                }

                .main .center .list ul li .state.back {
                      background-color: #13227a;
                     color: #ffffff;
                }
                .main .center .list ul li .state.unchecked {
                    background-color: #b98837;
                    color: #ffffff;
                }

     .main .center .list ul li .state.reject {
                      background-color: #d81e06;
                     color: #ffffff;
                }
                


    .main .center .view {
    }

        .main .center .view .left-column {
            float: left;
            overflow: hidden;
            width: 285px;
            min-height: 330px;
        }

            .main .center .view .left-column figure {
                display: block;
                overflow: hidden;
                margin-right: 15px;
                border: solid 1px #e3e3e3;
                height: 256px;
                padding: 15px;
            }

                .main .center .view .left-column figure img {
                    width: 100%;
                    max-height: 200px;
                }

                .main .center .view .left-column figure p {
                    text-align: center;
                    line-height: 35px;
                }





        .main .center .view .mian-column {
            margin-left: 285px;
        }
            .main .center .view .mian-column .column-tbody {
                 display:block;
                 overflow:hidden;
                 border: solid 1px #e3e3e3;
                 }
            .main .center .view .mian-column .main-column-handle {
               display:block;
               overflow:hidden;
               margin-top:15px;
               padding-left:58px;
               padding-right:57px;
               margin-bottom:15px;
            }
                .main .center .view .mian-column .main-column-handle .column-handle {
                  display:block;
                  overflow:hidden;
                  text-align:center;
                }

            .main .center .view .mian-column dl {
                display: block;
                overflow: hidden;
                margin-bottom: 0px;
            }




                .main .center .view .mian-column dl dt {
                    float: left;
                    line-height: 45px;
                    padding-left: 5px;
                    padding-right: 5px;
                    color: #444444;
                    font-weight: normal;
                    min-width: 80px;
                }

                    .main .center .view .mian-column dl dt.col-dt {
                        min-width: 170px;
                        text-align: right;
                    }

                    .main .center .view .mian-column dl dt i {
                        font-style: normal;
                        color: #ea0505;
                        font-size: 12px;
                        display: inline-block;
                        text-align: right;
                        min-width: 5px;
                    }



                .main .center .view .mian-column dl dd {
                    float: left;
                    line-height: 45px;
                }

                    .main .center .view .mian-column dl dd input[disabled="disabled"] {
                       background-color:#ffffff;
                       border: solid 0px #ffffff;
                       line-height:1.2;
                       display:inline-block;
                       width:auto;
                       padding-left:5px;
                       padding-right:5px;

                    }
                    .main .center .view .mian-column dl dd .dl-file-disabled {
                       line-height:1.2;
                       display:inline-block;
                       padding-left:0px;
                       padding-right:5px;
                       min-width:180px;
                    }

                    .main .center .view .mian-column dl dd input[type="text"],
                    .main .center .view .mian-column dl dd input[type="number"] {
                        display: inline-block;
                        line-height: 20px;
                        padding: 2px 3px;
                        outline: none;
                        border: solid 1px #c3c3c2;
                        border-radius: 4px;
                    }

                    .main .center .view .mian-column dl dd select {
                        border: solid 1px #c3c3c2;
                        border-radius: 4px;
                        padding: 2px 5px;
                        outline: none;
                    }

                        .main .center .view .mian-column dl dd select option {
                            line-height: 35px;
                        }

                        .main .center .view .mian-column dl dd select:hover,
                        .main .center .view .mian-column dl dd select:focus {
                            outline: none;
                        }

                    .main .center .view .mian-column dl dd input[type="text"]:hover,
                    .main .center .view .mian-column dl dd input[type="text"]:focus,
                    .main .center .view .mian-column dl dd input[type="number"]:hover,
                    .main .center .view .mian-column dl dd input[type="number"]:focus {
                        outline: none;
                    }


                    .main .center .view .mian-column dl dd .online-checkbox {
                        display: inline-block;
                        line-height: 30px;
                        min-width: 90px;
                    }


                        .main .center .view .mian-column dl dd .online-checkbox input[type="checkbox"] {
                            background: url("img/icon-checkbox.png");
                        }

                        .main .center .view .mian-column dl dd .online-checkbox label {
                            margin-bottom: 0px;
                            font-weight: normal;
                            line-height: 30px;
                        }

                    .main .center .view .mian-column dl dd .icon-tips {
                        display: inline-block;
                        width: 24px;
                        background-image: url("img/icon-tips.png");
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 24px 24px;
                    }


                    .main .center .view .mian-column dl dd .param td.padding-01 {
                        padding: 2px;
                        text-align: center;
                    }

                    .main .center .view .mian-column dl dd .param tr td {
                        padding-left: 0px;
                        padding-right: 0px;
                        text-align: center;
                        vertical-align: middle;
                    }

                    .main .center .view .mian-column dl dd .param select {
                        border-width: 0px;
                        width: 80px;
                    }



                    .main .center .view .mian-column dl dd .param input[type="text"] {
                        border-width: 0px;
                        width: 60px;
                        margin: 0px;
                        text-align: center;
                    }



                    .main .center .view .mian-column dl dd .param td.value input[type="text"],
                    .main .center .view .mian-column dl dd .param td.desc input[type="text"] {
                        width: 100%;
                        text-align: left;
                    }

                    .main .center .view .mian-column dl dd .param td.value input[type="text"] {
                        text-align: center;
                    }

                    .main .center .view .mian-column dl dd .upfile {
                        float: left;
                        width: 100px;
                        height: 100px;
                        background: #d4d4d4;
                        border: solid 1px #b58d59;
                        position: relative;
                        overflow: hidden;
                        margin-right: 16px;
                        background: #b58d59 url("img/file-upload.png") center center no-repeat;
                        background-size: 32px 32px;
                    }


                        .main .center .view .mian-column dl dd .upfile img {
                            width: 100px;
                            height: 100px;
                            cursor: pointer;
                        }

                        .main .center .view .mian-column dl dd .upfile del {
                            position: absolute;
                            z-index: 100;
                            right: 0px;
                            top: 0px;
                            width: 20px;
                            height: 20px;
                            border: solid 1px #b58d59;
                            background: #b58d59 url("img/icon-delete.png") center center no-repeat;
                            cursor: pointer;
                            display: block;
                        }



                    .main .center .view .mian-column dl dd input[type="file"] {
                        position: absolute;
                        opacity: 0; 
                        height: auto;
                        left: 0px;
                        top: 0px;
                        right: 0px;
                        bottom: 0px;
                        cursor: pointer;
                    }

                    .main .center .view .mian-column dl dd .param td input[disabled] {
                        background: #ffffff;
                    }

                    .main .center .view .mian-column dl dd .param td input:disabled {
                        background: #ffffff;
                    }

                    .main .center .view .mian-column dl dd .btn-upfile {
                        border: #b58d59 1px solid;
                        background: #ffffff;
                        line-height: normal;
                        position: relative;
                        background: #b58d59;
                        display: inline-block;
                        color: #ffffff;
                        line-height: 23px;
                        font-size: 14px;
                        padding-left: 5px;
                        padding-right: 6px;
                        border-radius: 2px;
                        outline: none;
                        cursor: pointer;
                        width: auto;
                        text-decoration: none;
                    }

                        .main .center .view .mian-column dl dd .btn-upfile:hover,
                        .main .center .view .mian-column dl dd .btn-upfile:focus {
                            outline: none;
                        }

    .main .center .icon-drawing-img img {
        width: 238px;
        height: 200px;
    }






    .main .center .view .mian-column dl.dynamic_module {
        display: block;
    }

    .main .center .view .mian-column dl.static_module {
        display: none;
    }

    .main .center .view .mian-column dl dd em {
        font-weight: normal;
        font-style: normal;
    }

    .main .center .topnav {
        overflow: hidden;
    }

        .main .center .topnav a {
            font-size: 15px;
            float: left;
            line-height: 50px;
            text-decoration: none;
            color: #333232;
        }

        .main .center .topnav i {
            float: left;
            height: 50px;
            width: 25px;
            background: url("img/icon-topnav-arrows.png") center center no-repeat;
        }

        .main .center .topnav .check-state {
            float: right;
            line-height: 50px;
            font-size: 14px;
            margin-right: 5px;
            color:#b98837;
            cursor:pointer;
        }

        .main .center .topnav .state-unchecked {
            color: #ad6800;
        }

        .main .center .topnav .state-a-checked {
          display:inline-block;
          color:#ad6800;
          font-size:13px;
          padding-left:18px;
        }

.btn-sunac {
    color: #fff;
    background-color: #b58d59;
    border-color: #b58d59;
}

    .btn-sunac:focus,
    .btn-sunac.focus {
        color: #fff;
        background-color: #b58d59;
        border-color: #b58d59;
        outline: none;
    }

    .btn-sunac:hover {
        color: #fff;
        background-color: #b58d59;
        border-color: #b58d59;
        outline: none;
    }

#ArgumentSetting {
    display: block;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
}

    #ArgumentSetting dl {
        margin-top: 10px;
    }

        #ArgumentSetting dl.operate {
            margin-top: 5px;
            margin-bottom: 5px;
            position: relative;
        }

         #ArgumentSetting dl.operate a {
             color:#a98d5b;
             text-decoration:none;
         }
            #ArgumentSetting dl.operate a:hover {
               color:#d08f3c;
               text-decoration:underline;
            }


            #ArgumentSetting dl.operate strong {
                display: block;
                overflow: hidden;
                width: 150px;
                text-align: left;
                background-color: #b98837;
                background: url(img/icon-add.png) center center no-repeat;
                background-position-x:8px;
                padding:1px 8px;
                padding-left:35px;
                cursor: pointer;
                border:solid 1px #b58d59;
                border-radius:5px;
                color: #b58d59;
                line-height:30px;
                font-size:14px;
            }


        #ArgumentSetting dl dt,
        #ArgumentSetting dl dd {
            display: block;
            overflow: hidden;
            font-size: 16px;
            margin: 0px;
        }


        #ArgumentSetting dl dd {
            margin-top: 5px;
        }



            #ArgumentSetting dl dt b, #ArgumentSetting dl dd b {
                font-size: 16px;
                font-weight: 500;
                color: #505050;
                display: inline-block;
                line-height: 30px;
                height: 30px;
                padding-left: 5px;
                padding-right: 15px;
                position: relative;
            }

        #ArgumentSetting dl dt b {
            font-weight: 700;
            position: relative;
            display: inline-block;
            padding-right: 10px;
        }

        #ArgumentSetting dl dt:focus s,
        #ArgumentSetting dl dt:hover s {
            display: inline-block;
            line-height: 25px;
            width: 30px;
            background: url('img/icon-delete-yellow.png') no-repeat center center;
            text-justify: none;
        }

        #ArgumentSetting dl dt s {
            text-decoration: none;
            cursor: pointer;
        }

        #ArgumentSetting dl dt i, #ArgumentSetting dl dd i {
            float: left;
            height: 28px;
            width: 30px;
            overflow: hidden;
            background: url("img/icon-add.png") no-repeat center center;
            border-radius: 3px;
            background-size: 16px 16px;
            cursor: pointer;
            margin-top: 5px;
        }

        #ArgumentSetting dl dd b {
            font-size: 15px;
            border: solid 1px #c3c3c2;
            width: 150px;
            text-align: center;
            border-radius: 5px;
            font-weight: normal;
            margin-right: 10px;
            padding: 0px;
            position: relative;
            margin-top: 5px;
            float: left;
        }

            #ArgumentSetting dl dd b del {
                position: absolute;
                width: 16px;
                height: 16px;
                right: 5px;
                top: 6px;
                background: url('img/icon-delete.png') no-repeat center center;
                cursor: pointer;
                display: none;
            }

            #ArgumentSetting dl dd b:hover, #ArgumentSetting dl dd b.selected {
                background-color: #b58d59;
                border: solid 1px #b58d59;
                color: #ffffff;
            }

                #ArgumentSetting dl dd b:hover del, #ArgumentSetting dl dd b.selected del {
                    display: block;
                }

        #ArgumentSetting dl dd i {
            background-size: 14px 14px;
            width: 150px;
            border: solid 1px #c3c3c2;
            border-radius: 5px;
            height: 30px;
        }

        #ArgumentSetting dl dd b input[type="text"] {
            outline: none;
            border-width: 0px;
            width: 100%;
            height: 26px;
            margin: 0px;
            background-color: #b58d59;
            text-align: center;
            outline: none;
        }


#sunac {
    display: block;
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 20px;
}

    #sunac .panel-search {
        padding-left: 0px;
        padding-right: 0px;
    }

        #sunac .panel-search .panel-item {
            float: left;
            overflow: hidden;
        }

        #sunac .panel-search .panel-form {
            margin-right: 20px;
        }

        #sunac .panel-search .panel-button {
            margin-right: 5px;
        }
            #sunac .panel-search .panel-button button {
                background-position:8px center;
                background-repeat:no-repeat;
                background-size:16px 16px;
                padding-left:28px;
            }

            #sunac .panel-search .panel-button .icon-add-extend {
               background-image:url("img/icon-add-extend.png");
            }

           #sunac .panel-button .icon-search {
               background-image:url("img/icon-search.png");
            }


            

    #sunac .panel-table {
        margin-top: 20px;
    }

        #sunac .panel-table .table {
          margin-bottom:5px;
        }

        #sunac .panel-table thead th {
            background-color: #efefe8;
            border-bottom-width: 0px;
        }

        #sunac .panel-table tbody td {
            border-bottom: solid 1px #cfc6df;
        }

    #sunac .sunacrow {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #sunac .form-group {
        margin-bottom: 5px;
    }

        #sunac .form-group label {
          display:inline-block;
        }


    #sunac .sunacrow .handle label {
        line-height: normal;
        font-weight: normal;
        margin-right: 15px;
    }

    #sunac .sunacrow .tr-row {
        line-height: normal;
        padding-top: 20px;
    }


    #sunac .sunacrow .checkbox-inline {
        padding-left: 5px;
        padding-right: 10px;
    }

    #sunac .sunacrow .col-title i {
        color: #d90000;
        font-style: normal;
    }

    #sunac .sunacrow label {
        line-height: 30px;
        text-align: right;
    }


.btn-sunac .radio-inline {
    line-height: 40px;
}

#sunac .float-left {
    float: left;
}

#sunac .float-right {
    float: right;
}


#sunac .panel-table td .disabled{
   color:#606163;
   font-weight:normal;
   cursor:pointer;
}

#sunac .panel-table td .enabled {
   color:#c8c8c8;
   font-weight:normal;
   cursor:pointer;
}



#sunac .input-control-group dl,
#sunac .input-control-group dl dt,
#sunac .input-control-group dl dd {
    float: left;
    margin-bottom: 0px;
}

#sunac .input-control-group.search-btn {
    float: left;
    margin-right: 0px;
    position:relative;
}

#sunac .search-btn input[type="text"] {
    border-radius: 5px;
    width: 290px;
    line-height:1.2;
}

#sunac .input-control-group strong {
    position: absolute;
    width: 60px;
    height: 33px;
    background: #b58d59 url('img/icon-search.png') center center no-repeat;
    background-size: 18px 18px;
    right: 0px;
    top: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

#sunac .input-control-group {
    margin-right: 10px;
}

    #sunac .input-control-group dl dt {
        line-height: 35px;
        font-weight: normal;
        font-size: 15px;
      padding-left:15px;
        text-align:right;
    }

        #sunac .input-control-group dl dt.dt-title {
           min-width:90px;
           padding-left:0px;
        }

#sunac .row-margin-top {
    margin-top: 12px;
}

        #sunac .input-control-group dl dt.lbl-title {
            width: 120px;
            text-align: right;
        }

        #sunac .input-control-group dl dt i {
            color: #e80404;
            font-style: normal;
            line-height: 35px;
            font-size: 14px;
        }

    #sunac .input-control-group dl dd.tips {
        text-align: center;
        width: 40px;
        line-height: 35px;
    }

    #sunac .input-control-group dl dd.explain {
        line-height: 35px;
        padding-left: 8px;
        color: #797978;
    }

#sunac .no-record {
    display: block;
    text-align: center;
    margin-top: -20px;
    line-height: 45px;
    border-bottom: solid 1px #cfc6df;
    font-size: 14px;
    color: #dddddd;
    margin-bottom: 20px;
}

#sunac .not-record-num {
    font-size: 14px;
    color: #dddddd;
    text-align: center;
}





#sunac .icon-layer-date {
    background: url('img/icon-datetime.png') right center no-repeat;
}

#sunac .sunacrow .multiselect-container label {
    text-align: left;
    line-height: 22px;
}


#sunac .sunacrow .multiselect-container .btn {
    text-align: left;
}


#sunac .form-bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #ffffff;
}

    #sunac .form-bottom button {
        min-width: 120px;
    }

#sunac .cursor-pointer {
    cursor:pointer;
    text-decoration:none;
}
#sunac .uitem {
  display:block;
  
}
#sunac .uitem dl,
#sunac .uitem dl dt,
#sunac .uitem dl dd
 {
    display:block;
    overflow:hidden;
    margin:0px;
    padding:0px;
}
#sunac .uitem dl {
   margin-left:-15px;
   margin-right:-15px;
   overflow:hidden;
  
}
#sunac .uitem dl dt {
     float:left;
     width:80px;
     line-height:30px;
     text-align:right;
}

#sunac .uitem dl dd {
   margin-left:130px;
   line-height:30px;
}




.main .mian-column .column-tbody dd i {
     font-style:normal;
     display:inline-block;
     padding-left:5px;
     padding-right:5px;
    
}



body .layer-ext-sunacskin .layui-layer-title {
    background: #b58d59;
    color: #fff;
    border: none;
    text-align: center;
    font-size: 18px;
}

body .layui-ext-sunacskin .layui-layer-btn {
    border-top: 1px solid #E9E7E7;
}

    body .layui-ext-sunacskin .layui-layer-btn a {
        background: #ffffff;
    }

    body .layui-ext-sunacskin .layui-layer-btn .layui-layer-btn1 {
        background: #ffffff;
        color: #ffffff;
    }

 body .layer-ext-sunacskin_01 .layui-layer-title {
    background: #b58d59;
    color: #fff;
    border: none;
    text-align: left;
    font-size: 18px;
}

body .layui-ext-sunacskin_01 .layui-layer-btn {
    border-top: 1px solid #E9E7E7;
}

    body .layui-ext-sunacskin_01 .layui-layer-btn a {
        background: #ffffff;
    }

    body .layui-ext-sunacskin_01 .layui-layer-btn .layui-layer-btn1 {
        background: #ffffff;
        color: #ffffff;
    }


#sunac .home {
    width: 1200px;
    margin: -19px auto -19px auto;
    padding: 0px 0px 0px 0px;
    background: #cf9a56;
    min-height: 500px;
}


#sunac .pagination {

  display:block;
  text-align:right;
}

   #sunac .pagination a {
    display:inline-block;
    line-height:22px;
    padding:0px 8px; 
    border:dotted 1px;
    border-color:#b58d59;
    background-color:#b58d59;
    color:#fff;
    text-decoration:none;
    font-size:12px;
    border-radius:3px;
    cursor:pointer;
    
     
   }

    #sunac .pagination a.dispaly {
       border-color:#efefef;
       background-color:#efefef;
       color:#d6d393;
       cursor:default;
    }


    
    #sunac .pagination strong,
    #sunac .pagination b
     {
        display:inline-block;
        line-height:22px;
        font-size:16px;
        color:#595e60;
        font-weight:normal;
        

    }
    #sunac .pagination strong {
     margin-right:8px;

    }
     #sunac .pagination b {
       margin-left:8px;
       background-color:#b58d59;
       color:#ffffff;
       line-height:22px;
       border-radius:23px;
       text-align:center;
       width:23px;
       background-color:#b58d59;
       margin-right:5px;
        
    }

    #sunac .pagination input {
     padding:2px 1px;
     text-align:center;
     margin-left:5px;
     margin-right:5px;
    }

    #sunac .pagination input[type="text"] {
       width:30px;
       min-width:30px;
       display:inline-block;
       outline:none;
       border:solid #c3c3c2 1px;
       font-size:14px;
       vertical-align:middle;
       border-radius:3px;
       
       
    }

    #sunac .pagination .form-control {
      padding:3px 5px;
    }
#sunac dl.search-list,
#sunac dl.search-list dd,
#sunac dl.search-list dt
 {
    position:relative;
    margin:0px;
    padding:0px;
}
#sunac dl.search-list {
  display:block;
  clear:both;
  overflow:hidden; 
  border-bottom:solid 1px #efefed;

}

    #sunac dl.search-list dt, #sunac dl.search-list dd {
      float:left;
      overflow:hidden;
      font-size:14px;
      color:#333;
      font-weight:normal;
    }

    #sunac dl.search-list dt  span{
         width:100px;
         line-height:55px;
         display:inline-block;
         text-align:right;
         padding-right:5px;
    }
        #sunac dl.search-list dd span {
            line-height:55px;
            padding-left:15px;
            padding-right:15px;
            position:relative;
            display:inline-block;
            cursor:pointer;
            min-width:60px;

        }
            #sunac dl.search-list dd span.active {
              color:#b58d59;
          
            }


            #sunac dl.search-list dd span input[type="text"] {
                line-height: 23px;
                outline: none;
                border: solid 1px #b9b9b7;
                border-radius: 15px;
                width: 210px;
                padding-left: 8px;
                padding-right: 8px;
            }

            #sunac dl.search-list dd span strong {
              position:absolute;
              right:15px;
              top:15px;
              height:25px;
              width:40px;
              border-top-right-radius:12px;
              border-bottom-right-radius:12px;
              outline:none;
              background:#b58d59 url("img/icon-search.png") center center no-repeat;
              background-size:16px;
              cursor:pointer;
            }


#sunac .panel-table tr td.operate a {
   color:#b38e64;
   text-decoration:none;
}

    #sunac .panel-table tr td.operate a:hover {
      color:#da8525;
      text-decoration:underline;
    
    }

    #sunac .panel-table tr td.operate a.disabled {
       color:#c3c3c2;
       text-decoration:none;

    }

   #sunac .panel-table tr td.operate a.disabled:hover {
       color:#c3c3c2;
       text-decoration:none;
   }



#sunac-sub {
     display:block;
     overflow:hidden;
     margin:5px 15px;
}


    #sunac-sub .sub-header {
        display: block;
        overflow: hidden;
        line-height: 45px;
        border-bottom: solid 1px #d9d9d9;
    }   
    

#sunac-sub .sub-header .item
{
    display:inline-block;
    padding-right:45px;
}

#sunac-sub .sub-tbody {
   display:block;
   overflow:hidden;
    margin-top:20px;
 }

    #sunac-sub .sub-tbody .item-left {
      float:left;
      width:205px;
      border:solid 1px #ececec;
    }


    #sunac-sub .sub-tbody .item-left .thead {
      display:block;
      line-height:35px;
      background-color:#f6f7f2;
      color:#3b3c37;
      padding-left:15px;
    }

    #sunac-sub .sub-tbody .item-left {
      display:block;
      padding:0px;
      margin:0px;

    }

    #sunac-sub .sub-tbody .item-left dt {
      margin:0px;
      line-height:35px;
      background-image:url("img/icon-folder.png");
      background-repeat:no-repeat;
      background-size:16px 16px;
      background-position:15px center;
      padding-left:35px;
      font-weight:normal;

    }

        #sunac-sub .sub-tbody .item-left dd {
            margin:0px;
            line-height:30px;
            background-image:url("img/icon-file.png");
            background-repeat:no-repeat;
            background-size:16px 16px;
            background-position:40px center;
            font-weight:normal;
            padding-left:60px;
        }

            #sunac-sub .sub-tbody .item-left dt.cls {
              background-color:#f6f7f2;
            }
        #sunac-sub .sub-tbody .item-left dl {
            margin-top:0px;
           margin-bottom:0px;
        }

            
    #sunac-sub .sub-tbody .item-centre {
     margin-left:206px;
     display:block;
     overflow:hidden;
    }

        #sunac-sub .sub-tbody .item-centre .item-center-operation {
           display:block;
           overflow:hidden;
           margin-left:20px;
           text-align:right;
           font-size:14px;

        }

        #sunac-sub .sub-tbody .item-centre .item-center-tbody {
             display:block;
           overflow:hidden;
            margin-left:20px;
        }

        #sunac-sub .sub-tbody .item-centre .panel-table {
            margin-top: 20px;
        }
            #sunac-sub .sub-tbody .item-centre .panel-table .panel-table-thead {
                margin-top: 0px;
                display: block;
            }

        #sunac-sub .sub-tbody .item-centre .panel-table .panel-table-thead .table {
            margin-bottom: 0px;
        }


    #sunac-sub .sub-tbody .item-centre .panel-table .panel-table-thead table {
          margin-right:15px;
    }


    #sunac-sub .sub-tbody .item-centre .panel-table .panel-table-tbody {
        margin-top: 0px;
        display: block;
    }

        #sunac-sub .sub-tbody .item-centre .panel-table .panel-table-tbody table {
            overflow-y: scroll;
        }

    #sunac-sub .sub-tbody .item-centre .panel-table thead th {
        background-color: #efefe8;
        border-bottom-width: 0px;
    }

    #sunac-sub .sub-tbody .item-centre .panel-table tbody td {
        border-bottom: solid 1px #cfc6df;
    }


#sunac-paging {
     display:block;
     overflow:hidden;
     text-align:center;
}

    #sunac-paging em,
    #sunac-paging strong,
    #sunac-paging a,
    #sunac-paging b {
       display:inline-block;
       overflow:hidden;
       line-height:35px;
       padding-left:8px;
       padding-right:8px;
       color:#606266;
       font-size:14px;
       font-weight:normal;

    }

    #sunac-paging a {
       font-size:15px;
       color:#666666;
       font-weight:500;
       text-decoration:none;
       cursor:pointer;
       padding-left:10px;
       padding-right:10px;
       height:35px;
    }

        #sunac-paging a.none {
           color:#c0c4ce;
           cursor:default;
        }
        #sunac-paging a.current {
            color:#c29e6c;
            cursor:default;
            font-weight:600;
        }

        #sunac-paging b select {
            padding: 2px 5px;
            outline:hidden;
            height:28px;
            line-height:1.2;
            font-size:12px;
            display:inline-block;
            width:90px;
        }
            #sunac-paging b select:hover,
            #sunac-paging b select:focus {
               border:solid 1px #c29e6c;
              outline:none;
            }

            #sunac-paging b select option {
                display:inline-block;
              padding:5px 4px;
            }
        #sunac-paging strong input[type="text"] {
           width:40px;
           padding:1px 2px;
           text-align:center;
           display: inline-block;
           margin-left:5px;
           margin-right:5px;
           overflow:hidden;
           line-height:1.2;
           outline:none;
           height:28px;
           
        }

            #sunac-paging strong input[type="text"]:hover,
            #sunac-paging strong input[type="text"]:focus {
             border:solid 1px #c29e6c;
             outline:none;
            }

.layui-layer-btn0 {
    background-color: #cf9a56;
    border-color: #cf9a56;
}