@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
@using SunacCADApp.Entity
<div class="row topnav">
    <a>标准部品库</a>
    <i></i>
    <a href="/handrail">栏杆</a>
</div>
<div class="row view">
    <div class="left-column">
        <figure class="icon-drawing-img">
            <img src="~/Content/Css/img/icon-no-image.png" width="238" heigth="200" />
            <p></p>
        </figure>
    </div>
    <div class="mian-column">
        <form name="myform" id="myform">
            <dl>
                <dt class="col-dt"><i>*</i>原型编号：</dt>
                <dd>
                    <input type="text" style="width:450px" name="txt_drawingcode" class="required" data-error="原型编号不能为空" placeholder="原型编号" />
                </dd>
            </dl>
            
            <dl>
                <dt class="col-dt"><i>*</i>展开图文件：</dt>
                <dd>
                    <input type="text" style="width:378px" name="txt_filename" placeholder="展开图文件" class="required" data-error="展开图文件不能为空" />
                    <input type="hidden" name="txt_drawingcad" />
                    <input type="hidden" name="hid_drawing_img" value="" />
                    <input type="hidden" name="hid_drawing_type" value="ExpandViewFile" />
                    <a class="btn-upfile" href="javascript:void(0)">
                        文件上传
                        <input type="file" class="upload-cad" />
                    </a>
                </dd>
            </dl>
            <dl>
                <dt class="col-dt"><i>*</i>使用范围：</dt>
                <dd style="width:500px;">
                    <span style="display:block;padding-top:5px;line-height:35px;">
                        <span class="online-checkbox">
                            <input type="checkbox" id="all" name="chk_area" class="select-all"  value="1" checked="checked"/>
                            <label for="all">集团</label>
                        </span>
                        @foreach (BasArgumentSetting Setting in ViewBag.Settings)
                        {
                            <span class="online-checkbox">
                                <input type="checkbox" id="area_@Setting.Id" value="@Setting.Id" name="checkbox_areaid" class="single-checkbox" checked="checked" />
                                <label for="area_@Setting.Id">@Setting.ArgumentText</label>
                            </span>
                        }
                    </span>

                </dd>
            </dl>
            
            <dl>
                <dt class="col-dt"><i>*</i>栏杆类型：</dt>
                <dd>
                    <select name="HandRailType" class="required" data-error="栏杆类型不能为空">
                        @foreach (BasArgumentSetting HandRail in ViewBag.HandRails)
                        {
                            <option value="@HandRail.Id">@HandRail.ArgumentText</option>
                        }
                    </select>
                </dd>
            </dl>
        </form>
        <div class="row" style="margin-bottom:20px;padding-left:15px;padding-right:30px;margin-top:120px">
            <div class="col-md-6 col-sm-6">
                <button type="button" class="btn btn-sunac" id="btn_save">保存</button>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
               
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    var options = {
        url: '/handrail/Addhandle',
        type: 'post',
        data: $("#myform").serialize(),
        dataType: 'json',
        beforeSerialize: function () {
            var rtv = $("#myform").ValidationInput();
            if (rtv == false) {
                return false;
            }
            var areaid = $('input[name="checkbox_areaid" ]').is(':checked')
            if (areaid == false) {
                layer.msg("请选择使用范围");
                return false;
            }
            return rtv;
        },
        success: function (data) {
            if (data.code == 100) {
                layer.msg(data.message, { icon: 6, time: 2000 }, function () {
                    window.location.href = "/handrail/Index"
                });
            } else {
                layer.alert(data.message, { icon: 5, shade: false });
            }
        }
    };
    $(function () {
        $('input[name="radio_module"]').on("change", function () {
            let model = $(this).data("model");
            $(".dynamic_module").css("display", "none");
            $(".static_module").css("display", "none");
            $(model).css("display","block");

        })

     

        $("#btn_save").on('click', function () {
            $("#myform").ajaxSubmit(options);
        });

        $("#btn_cancel").on('click', function () {
            $("#myform").resetForm();
        });

        $('input[name="txt_drawingcode"]').on('focusout', function () {
            let that = $(this);
            let code = that.val();
            $.post('/CommonLib/HasDradrawingCode', { code: code }, function (data) {
                if (data.Code != 100) {
                    layer.alert(data.Message, { icon: 5, shade: 0 }, function () {
                        that.val('');
                        layer.closeAll();
                    });
                }
            }, 'json')
        })
    })

</script>



