USE [Sunac_CAD_App]
GO
/****** Object:  Table [dbo].[BasArgumentSetting]    Script Date: 2019/9/28 18:27:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasArgumentSetting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ArgumentText] [varchar](60) NULL,
	[TypeCode] [varchar](32) NULL,
	[TypeName] [varchar](60) NULL,
	[ParentID] [int] NULL,
	[Enabled] [int] NULL,
	[Reorder] [int] NULL,
	[CreateOn] [datetime] NULL,
	[CreateUserId] [int] NULL,
	[CreateBy] [nvarchar](50) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedUserId] [int] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_BasArgumentSetting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BasArgumentSetting] ON 

INSERT [dbo].[BasArgumentSetting] ([Id], [ArgumentText], [TypeCode], [TypeName], [ParentID], [Enabled], [Reorder], [CreateOn], [CreateUserId], [CreateBy], [ModifiedOn], [ModifiedUserId], [ModifiedBy]) VALUES (57, N'区域', N'Area', N'区域', 0, 1, 1, CAST(N'2019-09-22T15:40:14.030' AS DateTime), NULL, NULL, CAST(N'2019-09-22T15:40:14.030' AS DateTime), NULL, NULL)
INSERT [dbo].[BasArgumentSetting] ([Id], [ArgumentText], [TypeCode], [TypeName], [ParentID], [Enabled], [Reorder], [CreateOn], [CreateUserId], [CreateBy], [ModifiedOn], [ModifiedUserId], [ModifiedBy]) VALUES (58, N'功能区', N'ActionType', N'功能区', 0, 1, 2, CAST(N'2019-09-22T15:40:14.030' AS DateTime), NULL, NULL, CAST(N'2019-09-22T15:40:14.030' AS DateTime), NULL, NULL)
INSERT [dbo].[BasArgumentSetting] ([Id], [ArgumentText], [TypeCode], [TypeName], [ParentID], [Enabled], [Reorder], [CreateOn], [CreateUserId], [CreateBy], [ModifiedOn], [ModifiedUserId], [ModifiedBy]) VALUES (59, N'门窗位置关系', N'DoorWindowPosition', N'门窗位置关系', 0, 1, 3, CAST(N'2019-09-22T15:40:14.030' AS DateTime), NULL, NULL, CAST(N'2019-09-22T15:40:14.030' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[BasArgumentSetting] OFF
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasArgumentSetting', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'参数名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasArgumentSetting', @level2type=N'COLUMN',@level2name=N'ArgumentText'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'参数编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasArgumentSetting', @level2type=N'COLUMN',@level2name=N'TypeCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'参数名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasArgumentSetting', @level2type=N'COLUMN',@level2name=N'TypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父类ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasArgumentSetting', @level2type=N'COLUMN',@level2name=N'ParentID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否有效' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasArgumentSetting', @level2type=N'COLUMN',@level2name=N'Enabled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasArgumentSetting', @level2type=N'COLUMN',@level2name=N'Reorder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'添加日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasArgumentSetting', @level2type=N'COLUMN',@level2name=N'CreateOn'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasArgumentSetting', @level2type=N'COLUMN',@level2name=N'CreateUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasArgumentSetting', @level2type=N'COLUMN',@level2name=N'CreateBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasArgumentSetting', @level2type=N'COLUMN',@level2name=N'ModifiedOn'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasArgumentSetting', @level2type=N'COLUMN',@level2name=N'ModifiedUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasArgumentSetting', @level2type=N'COLUMN',@level2name=N'ModifiedBy'
GO
