<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <connectionStrings>
      <add name="Sys_Conn" connectionString="data source=.;initial catalog=Sunac_CAD_App;user id=sa;password=19955897007;max pool size=512"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IDM_SUNAC_392_validatePwd_ptt-binding" />
        <binding name="SI_MD_COMMON_OUTBinding" />
        <binding name="SI_MD_COMMON_OUTBinding1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.2.219:8001/WP_SUNAC/APP_IDM_SERVICES/Proxy_Services/TA_EOP/IDM_SUNAC_392_validatePwd_PS"
        binding="basicHttpBinding" bindingConfiguration="IDM_SUNAC_392_validatePwd_ptt-binding"
        contract="ServiceReference1.IDM_SUNAC_392_validatePwd_ptt" name="IDM_SUNAC_392_validatePwd_ptt-bindingQSPort" />
      <endpoint address="http://sappoqas.sunac.com.cn:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MDM&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MD_COMMON_OUT&amp;interfaceNamespace=urn%3ASunac%3Acom%3Amdm%3Aproject"
        binding="basicHttpBinding" bindingConfiguration="SI_MD_COMMON_OUTBinding"
        contract="ServicePQA.SI_MD_COMMON_OUT" name="HTTP_Port" />
      <endpoint address="https://sappoqas.sunac.com.cn:50101/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MDM&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MD_COMMON_OUT&amp;interfaceNamespace=urn%3ASunac%3Acom%3Amdm%3Aproject"
        binding="basicHttpBinding" bindingConfiguration="SI_MD_COMMON_OUTBinding1"
        contract="ServicePQA.SI_MD_COMMON_OUT" name="HTTPS_Port" />
    </client>
  </system.serviceModel>
</configuration>
