<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SunacCADApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="WebURL" value="http://des.sunac.com.cn"/>
    <add key="ExceDateTime" value="00:20"/>
    <add key="projectFilePath" value="\\192.168.7.209\CAD\"/>
  </appSettings>
  <connectionStrings>
      <add name="Sys_Conn" connectionString="data source=.;initial catalog=Sunac_CAD_AppWeb;user id=sa;password=19955897007;max pool size=512"/>
  </connectionStrings>
  <system.web>
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <applicationSettings>
    <SunacCADApp.Properties.Settings>
      <setting name="SunacCADApp_cn_com_sunac_sappoqas_SI_MD_COMMON_OUTService"
        serializeAs="String">
        <value>http://sappoqas.sunac.com.cn:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_MDM&amp;receiverParty=&amp;receiverService=&amp;interface=SI_MD_COMMON_OUT&amp;interfaceNamespace=urn%3ASunac%3Acom%3Amdm%3Aproject</value>
      </setting>
      <setting name="SunacCADApp_WeService_BPM_WriteSAP_CAD_SUNAC_564_WriteSAPXmlToBPM_ptt_bindingQSService"
        serializeAs="String">
        <value>http://192.168.2.219:8001/WP_SUNAC/APP_CAD_SERVICES/Proxy_Services/TA_BPM/CAD_SUNAC_564_WriteSAPXmlToBPM_PS</value>
      </setting>
      <setting name="SunacCADApp_WebService_UpdataAndApproveFlow_CAD_SUNAC_565_UpdateAndApproveFlow_ptt_bindingQSService"
        serializeAs="String">
        <value>http://192.168.2.219:8001/WP_SUNAC/APP_CAD_SERVICES/Proxy_Services/TA_BPM/CAD_SUNAC_565_UpdateAndApproveFlow_PS</value>
      </setting>
      <setting name="SunacCADApp_WebService_Idm_User_PUBLIC_SUNAC_300_queryIdmUserData_ptt_bindingQSService"
        serializeAs="String">
        <value>http://192.168.2.219:8001/WP_SUNAC/APP_PUBLIC_SERVICES/Proxy_Services/TA_IDM/PUBLIC_SUNAC_300_queryIdmUserData_PS</value>
      </setting>
      <setting name="SunacCADApp_WebService_IDM_Public_PUBLIC_SUNAC_301_queryIdmOrgData_ptt_bindingQSService"
        serializeAs="String">
        <value>http://192.168.2.219:8001/WP_SUNAC/APP_PUBLIC_SERVICES/Proxy_Services/TA_IDM/PUBLIC_SUNAC_301_queryIdmOrgData_PS</value>
      </setting>
      <setting name="SunacCADApp_WebService932_IDM_SUNAC_392_validatePwd_ptt_bindingQSService"
        serializeAs="String">
        <value>http://192.168.2.219:8001/WP_SUNAC/APP_IDM_SERVICES/Proxy_Services/TA_EOP/IDM_SUNAC_392_validatePwd_PS</value>
      </setting>
    </SunacCADApp.Properties.Settings>
  </applicationSettings>
</configuration>
